@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Aboutpara {
    margin: 15px;

}

.subheading1 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 1000;
}

.aboutdescp {
    font-family: "Roboto";
    color: #9aa5b1;
}

.morepicpara {
    margin: 15px;

}

.subheading2 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 25px;
}

.pictures {
    padding: 15px;


}

.videospara {
    margin: 15px;

}

.subheading3 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 25px;
}

.videos {
    padding: 15px;
    margin: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
